<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.madprod.freeboxmobile"
      android:installLocation="internalOnly"
      android:versionCode="80" android:versionName="0.53.9">
    <application android:label="@string/app_name" android:icon="@drawable/icon_fbm">
		<activity android:name=".home.HomeListActivity" android:label="@string/app_name" android:theme="@style/Theme.FreeboxMobile.NoTitleBar" android:icon="@drawable/icon_fbm">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".home.WhatsNewActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".home.AssistanceActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.NoTitleBar" android:name=".home.ComptesActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.NoTitleBar" android:name=".home.ComptesEditActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".home.SendlogActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".fax.FaxActivity">
			<intent-filter android:label="Fax (Freebox) (beta)">
				<action android:name="android.intent.action.SEND"></action>
     			<category android:name="android.intent.category.DEFAULT"/>
     			<data android:mimeType="application/pdf" />
     			<data android:mimeType="image/jpg" />
     			<data android:mimeType="image/png" />
     			<data android:mimeType="image/jpeg" />
     			<data android:mimeType="text/plain" />
     			<data android:mimeType="application/vnd.oasis.opendocument.text" />
     			<data android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
     			<data android:mimeType="application/vnd.ms-excel" />
     			<data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
     			<data android:mimeType="application/msword" />
     			<data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
     			<data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
			</intent-filter>
		</activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".fax.FileChooserActivity"></activity>
    	<activity android:name=".Config" android:exported="true" >
    	</activity>
    	<activity android:theme="@style/Theme.FreeboxMobile.NoTitleBar" android:name=".ligne.LigneInfoActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".pvr.EnregistrementsActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".pvr.ProgrammationActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".guide.GuideActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".guide.GuideNowActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".guide.GuideChaineActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".guide.GuideMenuActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".guide.GuideChoixChainesActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.NoTitleBar" android:name=".guide.GuideDetailsActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.NoTitleBar" android:name=".remotecontrol.FindCodesActivity"></activity>
		<activity android:theme="@style/Theme.FreeboxMobile.TitleBar" android:name=".tv.TvActivity"></activity>

		<!-- Broadcast Receiver that will process Widget Inv updates -->
		<receiver android:name=".InvWidget" android:label="Innovations Free">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		        <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
		        <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_inv" />
		</receiver>
		<service android:name=".InvWidget$UpdateService" />

		<receiver android:name=".OnBootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<receiver android:name=".OnUpgradeReceiver">
			<intent-filter>
    			<action android:name="android.intent.action.PACKAGE_REPLACED" />
    			<data android:scheme="package" android:path="org.madprod.freeboxmobile" />
  			</intent-filter>
		</receiver>

		<receiver android:name=".OnExternalApp">
			<intent-filter>
    			<action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE"/>
  			</intent-filter>
		</receiver>
		<receiver android:name=".guide.OnGuideAlarmReceiver"></receiver>
		<service android:name=".mvv.MevoSync"></service>
    	<service android:name=".ligne.InfoAdslCheck"></service>
    	<service android:name=".guide.GuideCheck"></service>
    	<service 
    		android:name=".services.MevoService" 
    		android:exported="true" 
    		android:enabled="true"
    	>
    		<intent-filter>
    			<action android:name="org.madprod.freeboxmobile.services.MevoService"/>
    		</intent-filter>
    	</service>
    	<service 
    		android:name=".services.RemoteControlService" 
    		android:exported="true" 
    		android:enabled="true"
    		android:permission="org.madprod.freeboxmobile.permission.REMOTECONTROL"
    	>
    		<intent-filter>
    			<action android:name="org.madprod.freeboxmobile.services.RemoteControlService"/>
    		</intent-filter>
    	</service>
		<provider
			android:name=".mvv.MevoProvider"
			android:authorities="org.madprod.freeboxmobile.Provider"
		/>
	</application>

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />

	<uses-feature android:name="android.hardware.telephony" android:required="false" />
	
	<supports-screens
		android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true">
	</supports-screens>
	
	<permission
		android:name="org.madprod.freeboxmobile.permission.REMOTECONTROL"
		android:label="@string/permission_remote_label"
		android:description="@string/permission_remote_desc"
		android:protectionLevel="normal"
	/>
	<uses-sdk
		android:minSdkVersion="3"
		android:targetSdkVersion="8">
	</uses-sdk>
</manifest>